body {
  background: black;
}

.mainContainer {
  width: 100%;
  height: 770px;
  
}

.titleContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 196px;
  width: 680px;
  height: 210px;
}

.logo {
  width: 100%;
}

.featureHome {
  background: #ffffff;
  width: 280px;
  height: 1px;
  margin-top: 2px;
}

.featureHome2 {
  background: #ffffff;
  width: 280px;
  height: 1px;
  margin-top: 2px;
}

.featureHome3 {
  background: #F18F01;
  width: 140px;
  height: 1px;
  margin-top: 2px;
}

.featureHome4 {
  background: #F18F01;
  width: 140px;
  height: 1px;
  margin-top: 2px;
}

.featureHomeRight {
  float: right;
  margin-top: 115px;
  margin-right: 80px;
}

.featureHomeLeft {
  float: left;
  margin-top: 115px;
  margin-left: 80px;
}

.arrowContainer {
  width: 50px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  transition: ease 0.4s;
}

.arrowContainer:hover {
  cursor: pointer;
  width: 55px;
  transition: ease 0.4s;
}

.popNext {
  width: 100%;
}

.catContainer {
  width: 100%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0 auto;
}

.titleCat {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-family: Avenir Next;
  font-weight: 200;
  padding-top: 20px;
}

.featureCat1 {
  margin-right: 10px;
  height: 1px;
  width: 50px;
  background: #fff;
  margin-top: 18px;
}

.featureCat {
  margin-left: 10px;
  height: 1px;
  width: 50px;
  background: #fff;
  margin-top: 18px;
}

.gCat {
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.box { 
  width: 24%;
  height: 550px;
  overflow: hidden;
  margin-top: 30px;
}

.box:hover {
  background-color: black;
}

.h1 {
  color: #ffffff;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img:hover {
  background-color: black;
  transition: all 1s ease;
  
}

.textmiddle {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 110px;
  font-size: 25px;
}

/*
@font-face {
  font-family: 
}*/
