body {
  background: black;
}

.mainContainer {
  width: 100%;
  height: 100vh;
  position: relative;
}

.titleContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 196px;
  width: 680px;
  height: 210px;
}

.logo {
  width: 100%;
}

.featureHome {
  background: #F18F01;
  width: 280px;
  height: 1px;
  margin-top: 2px;
}

.featureHome2 {
  background: #fff;
  width: 280px;
  height: 1px;
}

.featureHome3 {
  background: #F18F01;
  width: 140px;
  height: 1px;
  margin-top: 2px;
}

.featureHome4 {
  background: #fff;
  width: 140px;
  height: 1px;
  margin-top: 2px;
}

.featureHomeRight {
  float: right;
  margin-top: 115px;
  margin-right: 80px;
}

.featureHomeLeft {
  float: left;
  margin-top: 115px;
  margin-left: 80px;
}

.arrowContainer {
  width: 50px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.popNext {
  width: 100%;
}

.catContainer {
  width: 100%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0 auto;
}

.titleCat {
  color: #fff;
  text-align: center;
  font-size: 100px;
  font-family: Avenir Next;
  font-weight: 200;
}

.featureCat1 {
  margin-right: 10px;
  height: 1px;
  width: 50px;
  background: #fff;
}

.featureCat {
  margin-left: 10px;
  height: 1px;
  width: 50px;
  background: #fff;
}



.gCat {
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.box { 
  width: 30%;
  height: 300px;
  border: 1px solid orange;
  overflow: hidden;
  margin-top: 30px;
}

.h1 {
  color: #ffffff;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@font-face {
  font-family: 
}
